<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'base/css.html' %}

    <title>{% block head_title %}SaaS {% endblock head_title %}</title>
</head>
    <body>
        {% include 'nav/navbar.html' %}
        
        {% if request.user.is_authenticated %}
            You are a user
        {% else %}
        You are not a user
        {% endif %}
        {% block content %}
        {% endblock content %}
        

        {% include 'base/js.html' %}

    </body>
</html>
